<div class="header">
    <p>Highscore: {{ highscore$ | async }}</p>
    <p>Current score: {{ currentScore$ | async }}</p>
</div>

<ng-container *ngIf="!(gameStarted$ | async)">
    <div class="container">       
        <button class="container-start" (click)="startGame()">{{ ((highscore$ | async) > 0) ? 'Try Again' : 'Start the game!' }}</button>
    </div>
</ng-container>
<ng-container *ngIf="(gameStarted$ | async)">
    <div class="container">
        <div class="container-mole" *ngFor="let mole of (whackamole$ | async)">
            <button (click)="whackedTheMole(mole.id)" class="container-mole-button" [class.active]="mole.active">
                Mole
            </button>
        </div>
        <div class="container-timer">
            Time left: {{timer$ | async}}s
        </div>
    </div>
</ng-container>
